body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 40px;
}
.orange-color{
    color: orange;
}
section{
    padding-bottom: 120px;
    box-sizing: border-box;
    overflow: hidden;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width img{
    width: 80%;
    margin-top: 5px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.margin-top{
    margin-top: 40px;
}
.dream-img img{
    width: 80%;
    margin-left: 5%;
    padding-left: 4%;
}
.dream-right{
    padding-right: 15px;
    
}
.dream-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.box-shadow{
    box-shadow: 10px 10px 40px rgb(204, 196, 196);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 120px;
}
#exp-right{
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    border-left: 5px solid;
    border-radius: 5px;
}
#exp-left{
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
    border-left: 5px solid;
    border-radius: 5px;
}
footer{
    text-align: center;
}
.experience-area>h1{
    text-align: center;
    margin-bottom: 25px;
}
